header {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  height: 80px;
  width: 1248px;
}

.main-menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
}

.logo {
  align-self: center;
  height: 37px;
  width: 161px;
  margin: 0;
}

.search-bar {
  align-self: center;
  justify-content: space-between;
  border-bottom: black 1px solid;
  width: 280px;
  height: 22px;
}

.search-bar-input {
  border: none;
  width: 280px;
  height: 22px;
}

.icon {
  margin-left: 4px;
}

.my-account {
  display: flex;
  align-items: center;
  color: #7a7a7a;
}

.my-account svg {
  color: black;
  margin-right: 5px;
  font-size: 18px;
}

.cart {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.cart-items {
  border-radius: 50%;
  background-color: #F8475F;
  position: relative;
  width: 14px;
  height: 14px;
  right: 10px;
  top: -8px;
  font-size: 10px;
  font-weight: 700;
  color: white;
}

.cart-items p {
  position: relative;
  width: 6px;
  height: 14px;
  right: -4px;
  top: -11.5px;
}

.sandwich-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .main-menu {
    display: none;
  }

  .my-account {
    display: none;
  }

  .search-bar {
    order: 4;
    width: max-content;
  }

  .header {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 360px;
  }

  .sandwich-menu {
    display: flex;
    align-items: center;
    order: 0;
    font-size: 18px;
    font-weight: 900;
  }

  .logo {
    height: 23px;
    width: 99px;
  }

  .logo img {
    align-self: center;
    margin: 0;
    height: 23px;
    width: 99px;
  }

  .cart-items {
    right: -5px;
    top: -2px;
  }
}