section {
  display: flex;
  justify-content: center;
}

.products {
  padding: 16px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1248px;
  height: 408px;
}

.line-products {
  align-self: flex-start;
  margin-left: 20px;
  width: 32px;
  margin-bottom: 16px;
  background-color: #E9BF33;
  height: 5px;
}

.products-list {
  display: flex;
  align-items: center;
}

.products h2 {
  align-self: flex-start;
  margin-left: 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
}

.arrow-carrosel {
  font-size: 30px;
  font-weight: 900;
}

.product-1 {
  display: none;
}

.product-2 {
  display: none;
}

.product-3 {
  display: none;
}

.product-4 {
  display: none;
}

.product-5 {
  align-self: center;
}

@media screen and (min-width: 576px) {
  .product-1 {
    display: none;
  }

  .product-2 {
    display: none;
  }

  .product-3 {
    display: none;
  }

  .product-4 {
    display: block;
  }
}


@media screen and (min-width: 868px) {
  .product-1 {
    display: none;
  }

  .product-2 {
    display: none;
  }

  .product-3 {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .product-1 {
    display: none;
  }

  .product-2 {
    display: block;
  }
}

@media screen and (min-width: 1448px) {
  .product-1 {
    display: block;
  }

  .item {
    margin: 0 10px;
  }

  .line-products {
    width: 65px;
    margin-left: 40px;
  }

  .products h2 {
    margin-left: 40px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
  }
}