.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 430px;
}

.each-slide span {
  text-align: left;
  font-family: Nunito;
  height: 147px;
  width: 701px;
  position: relative;
  left: -60px
}

.each-slide span h2 {  
  font-weight: 900;
  font-size: 42px;
  color: #E9BF33;
  margin: 0;
}

.each-slide span h4 {
  font-weight: 700;
  font-size: 30px;
  color: white;
  margin: 0;
}

.react-slideshow-container+ul.indicators {
  position: relative;
  top: -30px;
  margin: 0;  
}

.slideshow {
  height: 430px;
}

.indicator.active {
  color: #F8475F;
}

.indicator {
  height: 0;
  color: #BDBDBD;
  text-align: center;
  margin-left: 5px;
}

.indicator svg {
  height: 10px;
}

